{% extends "base/base_seo.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'stylesheet/dist/base.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'stylesheet/dist/components.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'stylesheet/dist/input.css' %}">
{% endblock %}


{% block body %}
<header>
    <nav>
      <a href="{% url 'home' %}">Home</a>
      <a href="{% url 'about' %}">About</a>
    </nav>

    <nav>
        {% if user.is_authenticated %}
          <a href="profile" >Profile</a>
          {% if user.is_staff or user.is_superuser %}
            <a href="{% url 'admin:index' %}" >Admin</a>
          {% endif %}
          <a href="{% url 'admin:logout' %}">Log out</a>
        {% else %}
          <a href="{% url 'admin:login' %}">Sign in</a>
          <a href="/register">Register</a>
        {% endif %}
        <div class="dropdown responsive landscape-up is-hover">
          <div class="dropdown-trigger">
            <a class="button" aria-haspopup="true" aria-controls="dropdown-menu2">
              <span>Content</span>
              <span class="icon is-small">
                <i class="fas fa-angle-down" aria-hidden="true"></i>
              </span>
            </a>
          </div>
          <div class="dropdown-menu" id="dropdown-menu2" role="menu">
            <div class="dropdown-content">
              <div class="dropdown-item">
                <p>You can insert <strong>any type of content</strong> within the dropdown menu.</p>
              </div>
              <hr class="dropdown-divider">
              <div class="dropdown-item">
                <p>You simply need to use a <code>&lt;div&gt;</code> instead.</p>
              </div>
              <hr class="dropdown-divider">
              <a href="#" class="dropdown-item">
                This is a link
              </a>
            </div>
          </div>
        </div>


    </nav>
</header>

<div class="body-container">
    <main>
        {% block content %}{% endblock %}
    </main>

    {% block cta %}
    {% endblock %}

    {% block footer %}
    {% include "base/footer.html" %}
    {% endblock %}
</div>
{% endblock %}

{% block postbody %}
<script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
{% endblock %}
