{% extends "base/base_seo.html" %}
{% load static %}


{% block body %}
<header class="">
    <section class="">
      <a href="{% url 'home' %}" class="">Home</a>

      <a href="" class="">About</a>

      {% if user.is_authenticated %}
      <a href="{% url 'admin:index' %}"  class="">
          Admin
      </a>
      <a href="{% url 'admin:logout' %}" class="">
          Log out
      </a>
      {% endif %}
    </section>
  </header>

<main>
    {% block content %}{% endblock %}
</main>

{% block cta %}
{% endblock %}

{% block footer %}
{% include "base/footer.html" %}
{% endblock %}

{% endblock %}
