<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

{%  if color%}
<!-- Chrome, Firefox OS and Opera -->
<meta name="theme-color" content="{{ color }}" />
<!-- Windows Phone -->
<meta name="msapplication-navbutton-color" content="{{ color }}" />
{% endif %}

<!-- iOS Safari -->
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
